extends layout

block content
    
    header.container(style='background: #61380B;height:210px;')
    #principal 
        img#mifoto.img-circle(src='/images/isra.jpg'  width='150' height='200' style='position: relative; left:900px; top:-205px;')
        font(color='#EABE3F')
        h1(style='position: relative;top:-350px; left:200px; color:white; ') ISRAEL REYES DOMINGUEZ 
    div(style=' top: -330px; left: 800px; position: relative; height: 245; padding:90px; width: 40%; ')
        fieldset(style='width:300px')
        legend(style='background:#58FAF4' align='center') objetivo
        p(align='justify')
        | Poner en pr&aacute;ctica las habilidades adquiridas en el plantel educativo as&iacute; como la total disponibilidad para aprovechar la oportunidad brindada pudiendo integrar y cooperar con el equipo de trabajo.
    div(style=' top: -500px; left: 805px; position: relative; height: 245; padding:90px; width: 35%; ')
        br
        br
        fieldset(style='width:260px')
        legend(style='background:#58FAF4') Formaci&ograve;n Acad&egrave;mica
        font(color='blue')
        p Nivel Medio Superior
        p Centro De Bachillerato Tecnol&oacute;gico Industrial y De Servicios N&ordm;48
        font(color='BC0DCB')
        p Mantenimiento Automotriz
        font(color='blue')
        p  Nivel Superior En Curso 
        p Instituto Tecnol&ograve;gico Superior De Acayucan
        font(color='BC0DCB')
        p Ingenier&iacute;a   En Sistemas Computacionales
    div(style=' top: -1090px; left: 20px; position: relative; height: 245; padding:70px; width: 25%; ')
        fieldset(style='width:210px')
        legend(style='background:#58FAF4') Datos Personales
        font(color='blue')
        p Domicilio
        p Barrio San Diego
        p Calle Benito Ju&agrave;rez #723 int. 
        font(color='blue')
        p Correo Electr&ograve;nico
        p elisra_10@hotmail.com 
        font(color='blue')
        p Tel&egrave;fono
        p 924-109-39-48 
        font(color='blue')
        p Estado Civil
        p Soltero
    div(style=' top: -1208px; left: 20px; position: relative; height: 245; padding:70px; width: 37%; ')
        fieldset(style='width:250px')
        legend(style='background:#58FAF4') En Caso De Emergencia Contactar A
        font(color='blue')
        p Sr. Martha Dom&igrave;nguez Felix 
        font(color='blue')
        p Parentesco
        p madre
        p Barrio San Diego
        p Calle Benito Ju&agrave;rez #723 int. 
        font(color='blue')
        p Telefono
        p 924-121-36-88 
        font(color='blue')  
    div(style=' top: -1340px; left: 20px; position: relative; height: 245; padding:70px; width: 40%; ')
        fieldset(style='width:200px')
        legend(style='background:#58FAF4'  align='center') Pasatiempos
    img#mifoto.img-circle(src='/images/si.jpg' style='position:relative;left:-1030px; top:-1400px;' align='right' width='105' height='110')
    img#mifoto.img-circle(src='/images/correr.jpg' style='position:relative; left:-1070px; top:-1400px;' align='right' width='105' height='110')
    img#mifoto.img-circle(src='/images/control.jpg' style='position:relative; left:-680px; top:-1400px;' align='right' width='105' height='110')
    div(style=' top: -2144px; left: 380px; position: relative; height: 245; padding:70px; width: 40%; ')
        fieldset(style='width:200px')
        legend(style='background:#58FAF4' align='center') Aptitudes
    img#mifoto.img-circle(src='/images/java.jpg' style='position:relative; left:-650px; top:-2220px;' align='right' width='100' height='120')
    img#mifoto.img-circle(src='/images/java.jpg' style='position:relative; left:-550px; top:-2060px;' align='right' width='100' height='120')
    img#mifoto.img-circle(src='/images/java.jpg' style='position:relative; left:-445px; top:-1920px;' align='right' width='110' height='130')
    div(style=' top: -2160px; left: 480px; position: relative; height: 245; padding:70px; width: 40%; ')
        p conocimientos de programaci&ograve;n(Java)
    div(style=' top: -2180px; left: 520px; position: relative; height: 245; padding:70px; width: 40%; ')
        p conocimientos en BD
    div(style=' top: -2200px; left: 515px; position: relative; height: 245; padding:70px; width: 40%; ')
        p conocimientos en HTML
    div(style=' top: -2400px; left: 800px; position: relative; height: 200; padding:90px; width: 30%; ')
        fieldset(style='width:170px')
        legend(style='background:#58FAF4') T&eacute;cnico En
        font(color='BC0DCB')
        | Mantenimiento Automotriz
        p
